
.checked{
    background-color: rgb(104, 187, 231);
}

.hover:link {
    text-decoration: none;
}

.hover:visited {
    background-color: rgb(104, 187, 231);
}

.hover:hover {
    background-color: rgb(104, 187, 231);
}

.hover:active {
    background-color: rgb(104, 187, 231);
} 

.profileButton {
    margin: 30px 20px;
}

.loginProfileButton {
    width: 60%;
    margin: 10px 0px 30px 0;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
    
}

.loginProfileButton:hover {
    width: 90%;
}


.modalCard {
    margin-top: 50px; 
   border-radius: 10px 30px 10px 30px;
   background-color: rgba(116, 162, 208, 0.2);
   padding: 20px;
  
}






